.splide__arrow {
    background-color: #DAA520 !important;
    width: 36px;
    height: 36px;
    border-radius: 0;
    opacity: 1;
}
/* .splide__arrow--next{
    right: 10em;
    top: 352px;
}
.splide__arrow--prev{
    top: 352px;
    left: 53rem;
} */
