.signup{
    /* background-image: url('../../../public/Picture//signup\ images/Group 971.png'); */
    /* background-repeat: no-repeat; */
}
.signup-form{
    background-image: url('../../../public/Picture//signup\ images/formbg.png');
}
.signup-form .overlay{
    background-color: rgba(245, 245, 220, 92%);
}
@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(40%);
    }
    50% {
      transform: translateY(-40%); 
    }
  }
  .balloon-image {
    animation: moveUpDown 3s infinite linear;
  }
    